# 23 Feb - Assignment Questions

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

Q3. Create a Pandas DataFrame that contains the following data:
Name      Age     Gender
Alice     25      Female
Bob       30      Male
Claire    27      Female
Then, print the DataFrame.

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Q7. Create a DataFrame using multiple Series. Explain with an example.

# 23 Feb - Assignment Solutions

**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd

In [2]:
data_list = [4,8,15,16,23,42]
type(data_list)

list

In [3]:
data_series = pd.Series(data_list)
print(data_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.**

In [4]:
data_list = [1,2,3,4,5,6,7,8,9,10]
type(data_list)

list

In [5]:
data_series = pd.Series(data_list)
print(data_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data**

**Name      Age     Gender
Alice     25      Female
Bob       30      Male
Claire    27      Female
Then print the DataFrame**

In [6]:
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}  
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

DataFrames is two-dimensional object that can hold series, list, dictionary with columns of potentially different types. We can think of spreadsheet or SQL table or dict of Series objects.

In [7]:
d = {'Fruits' : pd.Series(['Apple', 'Mango', 'Grapes'], index=['a', 'b', 'c']), 'two' : pd.Series([100., 50., 30., 400.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   Fruits    two
a   Apple  100.0
b   Mango   50.0
c  Grapes   30.0
d     NaN  400.0

Series is a one-dimensional object that can hold any data type such as integers, floats and strings. For Example- The first column of Series is known as index i.e 0,1,2 the second column is your actual data i.e A,B,C

In [8]:
x = pd.Series(['A','B','C'])
print(x)

0    A
1    B
2    C
dtype: object

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?**

Pandas provide a variety of functions for modifying or manipulating their central structure.

The first and most important way to transform is to add or drop columns.
df['new'] = np.random.random(5)

We can use the loc method to add a single row to a DataFrame.
df.loc[5,:] = ['Jack', 3, 3, 4, 5, 1]

The drop function is used to drop a column.
df.drop('new', axis = 1, inplace = True)

The insert function adds a column to a specific position.
df.insert(0, 'new', np.random.random(5))

The concat function combines multiple data frames along an axis (index or columns).
pd.concat([df,df2], axis=0, ignore_index=True)

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

Series are mutable, we can change the value of an element in the series after it has been initialized.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

We can create a DataFrame from multiple Series objects by adding each series as a columns.By using concat() method we can merge multiple series together into DataFrame. 
axis=1 to specify merge series as columns instead of rows.
axis=0 appends series to rows instead of columns.

In [9]:
courses = pd.Series(["ABC","CDE","XYZ"])
fees = pd.Series([1000,2000,3000])
discount  = pd.Series([100,200,300])

df=pd.concat([courses,fees],axis=1)
df=pd.concat([courses,fees,discount],axis=1)
print(df)

     0     1    2
0  ABC  1000  100
1  CDE  2000  200
2  XYZ  3000  300